# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# Env files
.env
.env.*

# IDEs and editors
.idea/
.vscode/

# Logs and databases
*.log
*.db